<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/StyleSheets/Create.css">
</head>
<body>
    <div class="topBar">
    
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="logo"
            class="topBar_img">
    
        <p class=" top-text home"><a href="/feed">home</a></p>
        <p class=" top-text">explore </p>
        <p class="top-text create"> <a href="/createpost">create</a></p>
    
        <input type="search" name="" id="searchBar" placeholder="search">
    
        <img src="/Image/noti.png" alt="notification" class="noti">
    
        <a href="/profile"><img src="/Image/user.png" alt="user" class="user"></a>
    
    </div>
    <hr>

    <h1 class="createPin">create pin</h1>
    <hr>

    <!-- upload section  -->
  <div class="uploadcontainer">
    <form action="" method="post" class="form">

    <div class="photouploadcontainer">

        <label for="file-input" class="custom-file-upload">

            <img src="/Image/up.png" alt="upload file" class="uploadfile">
            
            <p>choose a file to upload</p>
            <input id="file-input" type="file" />
        </label>

       




    </div>

    <div class="caption">

        <label for="caption" >post caption:</label>
        
        <input type="text" name="caption" id="caption" placeholder="enter the caption">
        
    </div>

  


    </form>
  </div>

</body>
</html>