<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/StyleSheets/Feed.css">
 
</head>
<body>
   <div class="container">

   <div class="topBar">

    <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="logo" class="topBar_img">

    <p class=" top-text home">home </p>
    <p class=" top-text">explore </p>
    <p class=" top-text"> <a href="/createpost">create</a></p>

    <input type="search" name="" id="searchBar" placeholder="search">

    <img src="/Image/noti.png" alt="notification" class="noti">

    <a href="/profile"><img src="/Image/user.png" alt="user" class="user"></a>

   </div>



   </div>
</body>
</html>