<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/StyleSheets/Profile.css">
</head>
<body>
    <div class="container">
        <div class="aboutAccout">

            <img src="/Image/user.png" alt="">
            <h1>sunny</h1>
            <h3>username</h3>
            <p>bio</p>

        </div>

        <div class="uploadedpost">
           here are the uploaded post 
        </div>
    </div>
</body>
</html>